@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 96%;
    --foreground: 215 15% 25%;
    
    --card: 210 20% 98%;
    --card-foreground: 215 15% 25%;

    --popover: 210 20% 98%;
    --popover-foreground: 215 15% 25%;

    --primary: 212 22% 73%;
    --primary-foreground: 215 25% 15%;

    --secondary: 210 20% 90%;
    --secondary-foreground: 215 15% 25%;

    --muted: 210 20% 85%;
    --muted-foreground: 215 15% 45%;
    
    --accent: 32 54% 78%;
    --accent-foreground: 30 40% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 212 22% 83%;
    --input: 212 22% 83%;
    --ring: 212 22% 63%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 25% 15%;
    --foreground: 210 20% 96%;
    
    --card: 215 25% 18%;
    --card-foreground: 210 20% 96%;

    --popover: 215 25% 18%;
    --popover-foreground: 210 20% 96%;

    --primary: 212 22% 73%;
    --primary-foreground: 215 25% 15%;

    --secondary: 215 25% 22%;
    --secondary-foreground: 210 20% 96%;

    --muted: 215 25% 28%;
    --muted-foreground: 210 20% 75%;
    
    --accent: 32 54% 78%;
    --accent-foreground: 30 40% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 25% 28%;
    --input: 215 25% 28%;
    --ring: 212 22% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23a7b7c7' fill-opacity='0.1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}
